<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Project Details</title>
		
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
		<div class="container">
			<h3 style="text-align: center;">Project Details</h3>
			<hr/>
			<table class="table table-bordered table-striped" id="projectTable">
			
				<thead>
					<tr>
						<th>Project ID</th>
						<th>Project Name</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Manager Name</th>
						<th>Manager Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${project.id}" />
						<td th:text="${project.name}" />
						<td th:text="${project.startDate}" />
						<td th:text="${project.endDate}" />
						<td th:text="${project.managerName}" />
						<td th:text="${project.managerEmail}" />
					</tr>
				</tbody>
				
			</table>
			<hr/>
			<h4>Add New Weekly Status</h4>
			<a th:href="@{/addWeeklyStatusForm(projectId=${project.id})}" class="btn btn-primary">Add Weekly Status</a>
			<br/><br/>
			<hr/>
			<h4 style="text-align: center;">Weekly Statuses List for Project ID: <span th:text="${project.id}"></span></h4>
			<br/>
			<table class="table table-bordered table-striped" id="weeklyStatusTable">
			
				<thead>
					<tr>
						<th>Status ID</th>
						<th>Status</th>
						<th>Highlight</th>
						<th>Risk</th>
						<th>Weekly End Date</th>
						<th>Created On</th>
						<th>Last Modified On</th>
						<th>Update</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="weeklyStatus: ${project.weeklyStatuses}">
						<td th:text="${weeklyStatus.id}" />
						<td th:text="${weeklyStatus.status}" />
						<td th:text="${weeklyStatus.highlight}" />
						<td th:text="${weeklyStatus.risk}" />
						<td th:text="${weeklyStatus.weeklyEndDate}" />
						<td th:text="${weeklyStatus.createdOn}" />
						<td th:text="${weeklyStatus.lastModifiedOn}" />
						<td>
							<a th:href="@{/updateWeeklyStatusForm(projectId=${project.id}, weeklyStatusId=${weeklyStatus.id})}" class="btn btn-info">Update</a>
						</td>
						<td>
							<a th:href="@{/deleteWeeklyStatus(projectId=${project.id}, weeklyStatusId=${weeklyStatus.id})}" class="btn btn-danger">Delete</a>
						</td>
					</tr>
				</tbody>
				
			</table>
			<hr/>
			<a th:href="@{/displayAllProjects}">Back to Project list</a>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				// Script to disable the sorting fn on the DataTable
				$("#weeklyStatusTable").DataTable({
					'aoColumnDefs': [{
    				'bSortable': false,
    				'aTargets': [-1,-2] /* Disabling sorting fn on the first 2 col, starting from the right */
				}]
			});
			})
		</script>
	</body>
	
</html>